*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
#confirmation{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.3),rgba(4,9,30,0.3)) ,url("../images/des4.jpg");
    background-size: cover;
    background-position: center;
}
h1{
    color: white;
    padding-top: 50px;
    text-align: center;
    font-weight: bold;
}
p{
    color: white;
    padding-top: 50px;
    text-align: center;
    font-weight: bold;
}
#go{
     padding-top: 50px;
    text-align: center;   
}
