*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.3),rgba(4,9,30,0.3)) ,url("../images/back.jpg");
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    padding: 2% 6%;
}
nav img {
    width: 150px;
}
.navlinks{
    flex: 1;
    text-align: right;
}
.navlinks ul li{
    list-style: none;
    display: inline-block;
    padding: 0px 12px;
    position: relative;
}
.navlinks ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}
.navlinks ul li ::after{
    content: "";
    width: 0%;
    height: 2px;
    display: block;
    background-color: #f44336;
    margin: auto;
    transition: 0.5s;
}
.navlinks ul li:hover ::after{
    width: 100%;
}
.textbox{
    width: 500px;
    height: 500px;
    text-align: center;
    color: white;
    position: absolute;
    top: 55%;
    left: 40%;
    transform: translate(-98%,-50%);
}
.textbox h1{
    font-size:62px ;
    margin-top: 80px;
   
}
.textbox p{
    margin: 40px 0px 40px;
    font-size: 15px;
}
.white-button {
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 10px 15px;
    background-color: transparent;
    border-radius: 0.3em;
    cursor: pointer;
    position: relative;
    font-weight: bold;
}
.white-button:hover {
    background-color: #f44336;
    transition: 1s;
    border: 1px solid #f44336;
    padding: 15px 20px;

}
.row{
    margin-top: 5%;
    display: flex;
    background-color: rgb(239, 243, 243);
    padding-top: 25px;
    text-align: justify;
    margin-bottom: 5%;
    border-radius: 5px;
    padding-left: 25px; 
}
.destination {
    width: 80%;
    margin: auto;
    padding-top: 50px; 
}
.descol{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden; 
    padding: 10px;   
}
.descol img{
    width: 300px;
    height: 200px;
    display: block;
    margin-left: 20px;
}
.descol h3{
    margin: 20px 20px;
    color: #f44336;
    text-align: left;  
}
.descol p{
    margin-left: 20px;
}
.top{
  background-color: rgb(239, 243, 243);;
  border-radius: 5px;
  display: flex;
  padding: 5px;
}
.top a{
    text-decoration: none;
    text-align: center;
    color: #f44336;
    border: 1px solid #f44336;
    padding: 4px;
    background-color: transparent;
    border-radius: 0.3em;
    cursor: pointer;
    font-weight: bold;
    margin-left: 650px;
    width: 15%;
}
.top a:hover{
    background-color: #f44336;
    transition: 1s;
    color: white;
    border: 1px solid #f44336;
    padding: 10px 10px;
}
.top h2{
    margin-left: 20px;
}
.price{
    font-weight: bold;
    font-size: larger;
    margin-bottom: 20px;
    margin-left: 18px;
}
.AboutUs{
    width: 80%;
    background-color: rgb(239, 243, 243);;
    justify-content: space-between;
    display: flex;
    margin: auto;
    padding: 25px;
    border-radius: 5px;
}
.info p{
   
    text-align: left;
}
.info h2{
    margin-bottom: 30px;
    font-weight: bold;   
}
.AboutUs div img{
    width: 100%;
    padding-top: 60px;
}
.AboutUs div{
    flex-basis: 47%;
    margin-top: 20px;
}
.AboutUs div ul{
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.AboutUs div ul li{
    margin-bottom: 5px;
}
.red-button{
    text-decoration: none;
    color: #f44336;
    border: 1px solid #f44336;
    padding: 10px 10px;
    border-radius: 0.3em;
    cursor: pointer;
    position: relative;
    margin-left: 15px;
    font-weight: bold;
}
.red-button:hover{
    background-color: #f44336;
    transition: 1s;
    color: white;
    border: 1px solid #f44336;
    padding: 15px 20px;
}
.blogposts{
    background-image: linear-gradient(rgba(4,9,30,0.4),rgba(4,9,30,0.4)),url("../images/div5.JPG");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    margin-top: 5%;  
    margin-bottom: 5%;
}
.post{
    display: flex;
    padding-top: 50px;
    text-align: justify;
    margin: auto;
    width: 70%;
}
.blog{
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden; 
    margin-right: 10px;
}
.blog img{
    width: 100%;
    height: 200px;
    display: block;
   
}  
.blogposts h2{
   color: white;
   width: 80%;
   margin-left: 10%;
   padding-top: 5%;
   border-bottom: 3px solid #f44336;
   font-weight: bold;
}
.blog p{
    color: black;
    padding: 40px 10px;
    background-color: white;  
}
.pr{
    background-color: white;
    padding-left: 36px;
    padding-bottom: 20px;
}
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0px;
    background-color: rgb(231, 231, 231);
}
.footer h3{
    font-size: 25px;
    margin: 25px 0px;
}
.footer p{
    width: 80%;
    margin: 0px auto;
}

